.game {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 1px solid #000;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.active {
  background-color: #f00;
}

.inactive {
  background-color: #aaa;
}